name: run Maintenance script

on:
  schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   # We'll run this weekly at 23.00 on Saturday.
    - cron:  '0 23 * * 6'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Maintain
        run: |
            python maintain.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: create-pull-request/${{ steps.vars.outputs.branch_name }}
          committer: dispoBot <martenson@dispobot>
          commit-message: execution of maintenance script
          title: maintenance script run
          body: maintenance.sh has been executed and found a diff
          labels: automated
          assignees: martenson
          reviewers: martenson
